.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
    background-color: white;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}

.flag img {
    width: 50%;
    border-radius: 3px;
}

.flag {
    background-size: cover;
    height: 10px;
    width: 20%;
    border-radius: 5px;
}

.table-flag img {
    width: 25%;
    border-radius: 3px;
}

.table-flag {
    background-size: cover;
    height: 10px;
    width: 5%;
    border-radius: 5px;
}